<!DOCTYPE html>
<html>
<%- include('./templates/head.ejs') %>
<%- include('./templates/nav.ejs') %>
<body>

<h1 style="background-color: red;">404 Error!</h1>
<p>Page not found!</p>

</body>
<%- include('./templates/footer.ejs') %>
</html>