<!DOCTYPE html>
<html>
<%- include('./templates/head.ejs') %>
<%- include('./templates/nav.ejs') %>
<body>

<h1 style="background-color: red;">About!</h1>
<p>This is an About page.</p>

</body>
<%- include('./templates/footer.ejs') %>
</html>