h1{
    padding-top: 2%;
    padding-left: 2.5%;
}

.blog-contents{
    padding-top: 2%;
    padding-left: 2.5%;
}

.form-main{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

footer {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

a :hover{
    color: red;
    /* transform: scale(2); */
}

#nav-start{
    font-family:monospace;
    font-size: xx-large;
    padding-top: 2  %;
}

#nav-start :hover{
    color: blue;    
}

.start{
    font-family: 'Oswald', sans-serif;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

#about {
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    text-align: center;
}